.tools-wrapper {
    width: 80%;
    padding: 0 10%;

    .row-wrapper {
        height: 40px;
        width: 100%;
        /* padding: 0 10%; */
        margin-top: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .button-wrapper {
            width: 35px;
            height: 30px;
            margin: 0 10px;
            border-radius: 4px;
            cursor: pointer;


            .button {
                border-radius: 8px;
                cursor: pointer;
                font-size: 14x;
                text-align: center;
                width: 100%;
                background-color: #dbdee1;

                .svg-icon {
                    width: 100%;
                    height: 100%;
                }
            }

            button:disabled {
                cursor: not-allowed;
            }

            .tool-button-normal {
                border: 1px solid #534f4f;
                box-shadow: 4px 4px #222;
            }
            
            .tool-button-active {
                margin: 4px 0 0 4px;
                border: 2px solid #000;
            }

            .tool-button-normal:hover {
                margin: 2px 0 0 2px;
                border: 2px solid #4e4c4c;
                box-shadow: 2px 2px #222;
            }
        }
    }
}